*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    margin-top: 100px;
    width: 70vw;
    height: 70vh;
    display: flex;
    position: relative;
    background-color: rgb(232, 232, 232);
}

.slider{
    width: 80%;
    display: flex;
    background-color: aquamarine;
    
}

.items-container{
    width: 100%;
    display: flex;
}



.thumbnails{
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
}

.thumbnail{
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.opacity_activ{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.prev{
    margin-left: 10px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.next{
    margin-right: 10px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.next:hover, .prev:hover{
    color: white
}

.item{
    flex: 1;
    min-height: 0;
    display: none;
}

.active{
    flex: 1;
    min-height: 0;
    background-color: brown;
    display: flex;
    position: relative;
}

.item img{
height: 100%;    
width: 100%;
object-fit: cover;
display: block;
}

.active img{
    height: 100%;    
    width: 100%;
    object-fit: cover;
    display: block;
}